body {
  font-family: Papyrus, Arial, sans-serif;
  background-color: rgb(255, 172, 172);
  margin: 50px;
}

#veganBowl {
  width: 600px;
  height: 450px;
  object-fit: cover;
  object-position: bottom;
}

img {
  border: rgb(0, 99, 3) 10px solid;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  text-decoration: underline;
}

li {
  font-size: 20px;
}

.recipes {
  padding: 0;
}

.recipes li {
  display: inline-block;
  border: 5px solid #21642d;
  margin-right: 15px;
  background-color: tan;
}

.recipes li :hover {
  background-color: rgb(166, 0, 255);
  position: relative;
  bottom: 10px;
  right: 10px;
}

.recipe-link {
  padding: 8px;
  display: inline-block;
  border: 5px solid rebeccapurple;
  margin: -5px;
}
